# =========================

# BUILD

# =========================

bin/
obj/

# =========================

# VISUAL STUDIO

# =========================

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# =========================

# DATABASE FILES

# =========================

*.mdf
*.ldf
*.ndf

# =========================

# LOGS

# =========================

*.log

# =========================

# APP SETTINGS (LOCAL)

# =========================

appsettings.Development.json

# =========================

# SECRETS

# =========================

secrets.json

# =========================

# UPLOAD FILES

# =========================

wwwroot/uploads/
uploads/

# =========================

# OS FILES

# =========================

.DS_Store
Thumbs.db
bin/
obj/
.vs/
*.user
*.suo
appsettings.Development.json